body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #ffdec9;
    background: linear-gradient(138deg, rgb(247, 240, 251) 0%, rgb(72, 92, 119) 100%);
    background: #4d7b8a url('assets/bg2.jpg') no-repeat fixed center;
    background-size: cover;
}

canvas {
    display: block
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3f296069;
    z-index: -1;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    padding: 20px;
}

#header img {
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 40px;
    right: 10px;
    padding: 5px;
    font-size: 0.7rem;
    font-weight: 300;
    color: #d6e3e5;
}

#loading {
    display: flex;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    align-items: center;
}

.tippy-box[data-theme~='custom'] {
    background-color: rgb(43, 41, 71);
    color: #ffffff;
    border: 1px solid #d6e3e5;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.tippy-box[data-theme~='custom'] .tippy-content {
    padding: 8px 15px;
}

.tippy-box[data-theme~='custom'] .tippy-content .tooltip-title {
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px dotted #ffffff8c;
    padding-bottom: 3px;
}

.tippy-box[data-theme~='custom'] .tippy-content .tooltip-subtitle {
    font-weight: 400;
}

.tippy-box[data-theme~='custom'] .tippy-content .tooltip-body {
    color: #e3daf7;
    font-weight: 300;
}

.dialog-overlay {
    position: fixed;
    display: none;
    inset: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999999;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

.dialog {
    background-color: #FFF;
    color: #333;
    min-width: 350px;
    max-width: 600px;
    padding: 0;
    z-index: 9999998;
    display: none;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 0;
    transform:scaleY(.005) scaleX(0);
}

.dialog[data-show] {
    display: block;
}

.dialog[data-popper-reference-hidden] {
    visibility: hidden;
    pointer-events: none;
}

.dialog .dialog-header {
    display: flex;
    justify-content: space-between;
}

.dialog .dialog-title {
    padding: 15px;
    font-weight: 700;
}

.dialog .dialog-body {
    padding: 10px 15px 15px 15px;
    font-weight: 300;
    line-height: 1.5rem;
}

.dialog .dialog-close {
    width: 18px;
    height: 18px;
    margin: 10px;
    cursor: pointer;
}

.dialog-open {
    overflow-y: hidden;
    padding-right: 15px
}

.dialog-in {
    animation:fadeIn 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.dialog-out {
    animation:fadeOut 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fcf;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}